<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MedinetCRMService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=192.168.208.29;Initial Catalog=Medinet_DM2;User ID=USRBI;Password=Zuoz2013" name="MedinetWeb"/>
    <add connectionString="Data Source=192.168.208.29;Initial Catalog=Medinet_DM2;Integrated Security=True" name="MedinetWebLOCAL"/>
  </connectionStrings>
  <appSettings>
    <add key="rutaBase" value="C:\MEDINET_TRANSMISIONES_DM\"/>
    <add key="rutaBackup" value="BACKUP\"/>
    <add key="rutaDesconocidos" value="DESCONOCIDOS\"/>
    <add key="rutaDesfasados" value="DESFASADOS\"/>
    <add key="rutaNoProcesados" value="NO_PROCESADOS\"/>
    <add key="rutaCiclos" value="CICLOS\"/>
    <add key="rutaFechas" value="FECHAS\"/>
    <add key="nombreEmpresa" value="Saint Moritz" />
    <add key="rifEmpresa" value="J-00201508-0/J-00021536-7" />
    <add key="enviarSMS" value="true" />
    <add key="enviarSMSNumeroMDN" value="false" />
    <add key="procesarArchivos" value="true" />
    <add key="googleApiKey" value="AIzaSyD2HxoRpeO_m0y71YEFw71v_zrywOW0RgM"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSCallCenterSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:7687/WSCallCenter.asmx" binding="basicHttpBinding"-->
      <endpoint address="http://medilab:1010/WSCallCenter.asmx" binding="basicHttpBinding" bindingConfiguration="WSCallCenterSoap" contract="ServiceReference1.WSCallCenterSoap" name="WSCallCenterSoap"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <MedinetCRMService.Properties.Settings>
      <setting name="MedinetCRMService_localhost_WSCallCenter" serializeAs="String">
        <value>http://medilab:1010/WSCallCenter.asmx</value>
      </setting>
    </MedinetCRMService.Properties.Settings>
  </applicationSettings>
</configuration>