@{
    ViewBag.Title = "Laboratorios droguerías";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@(Html.Kendo().Grid<MedinetWeb.Models.MirrorEntityModel.MMW_LaboratoriosDroguerias>()
        // Grid Name
    .Name("Grid")

    // Declare grid column
    .Columns(columns =>
                 {
                      //Cretae all the columns base on Model
                     columns.Bound(r => r.ID_LaboratorioDrogueria).Title("ID");
                     columns.ForeignKey(p => p.ID_Laboratorio, (System.Collections.IEnumerable)ViewData["dvLaboratorios"], "ID", "TX")
                        .Title("Laboratorio")
                        .EditorTemplateName("IDLaboratoriosMedinet");
                     columns.ForeignKey(p => p.ID_Drogueria, (System.Collections.IEnumerable)ViewData["dvDroguerias"], "ID", "TX")
                        .Title("Droguería")
                        .EditorTemplateName("IDDroguerias");
                     columns.Bound(r => r.TX_Ruta).Title("Ruta");
                     columns.Bound(r => r.TX_Usuario).Title("Usuario");
                     columns.Bound(r => r.TX_Password).Title("Password");
                     columns.Bound(r => r.BO_Activo).Title("Activo")
                         .ClientTemplate("<input type='checkbox' #= BO_Activo ? checked='checked' : '' # disabled='disabled'}></input>");

                     // Edit and Delete button column
                     columns.Command(command =>
                                         {
                                             command.Edit().Text("Editar");
                                             command.Destroy().Text("Eliminar");
                                         });
                 })

    // Declare ajax datasource.
        // CRUD operation are wired back to ASP MVC Controller/Action e.g. HomeController, GetAll
        // Set the model Id
    .DataSource(datasoure => datasoure.Ajax()
                                .Events(events => events.Error("GridError"))

                                .Model(model =>
                                    {
                                        model.Id(record => record.ID_LaboratorioDrogueria);
                                        model.Field(record => record.BO_Activo).DefaultValue(true);
                                    }
                                )
                                .Read(read => read.Action("GetAll", "LaboratoriosDroguerias"))
                                .Create(create => create.Action("Add", "LaboratoriosDroguerias"))
                                .Update(update => update.Action("Update", "LaboratoriosDroguerias"))
                                .Destroy(delete => delete.Action("Delete", "LaboratoriosDroguerias"))
                                .PageSize(5)
    )

    // Add tool bar with Create button
    .ToolBar(toolbar => toolbar.Create().Text("Agregar registro"))

    // Set grid editable.
    .Editable(editable => editable.Mode(GridEditMode.InLine))

    // Set grid sortable.
    .Sortable()

    // Set grid selectable.
    .Selectable()

    // Set grid groupable.
    .Groupable()

    // Set grid filterable.
    .Filterable()

    // Set grid pagable.
    .Pageable(pageable =>
                  {
                      pageable.Refresh(true);
                      pageable.PageSizes(true);
                  })
)