@{
    ViewBag.Title = "Regiones estados";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@(Html.Kendo().Grid<MedinetWeb.Models.MirrorEntityModel.MMW_RegionesEstados>()
    // Grid Name
    .Name("Grid")
    
    // Declare grid column
    .Columns(columns =>
                 {
                     // Cretae all the columns base on Model
                     columns.Bound(r => r.ID_RegionesEstados).Title("ID");
                     columns.ForeignKey(p => p.ID_Region, (System.Collections.IEnumerable)ViewData["dvRegiones"], "ID", "TX")
                        .Title("Región")
                        .EditorTemplateName("IDRegiones");
                     columns.ForeignKey(p => p.ID_Estado, (System.Collections.IEnumerable)ViewData["dvEstados"], "ID", "TX")
                        .Title("Estado")
                        .EditorTemplateName("IDEstados");
                                              
                     // Edit and Delete button column
                     columns.Command(command =>
                                         {
                                             command.Edit().Text("Editar");
                                             command.Destroy().Text("Eliminar");
                                         }).Width(180);
                 })
                 
    // Declare ajax datasource.
    // CRUD operation are wired back to ASP MVC Controller/Action e.g. HomeController, GetAll
    // Set the model Id
    .DataSource(datasoure => datasoure.Ajax()
                                .Events(events => events.Error("GridError"))
                                
                                .Model(model =>
                                    {
                                        model.Id(record => record.ID_RegionesEstados);
                                    }
                                )
                                .Read(read => read.Action("GetAll", "RegionesEstados"))
                                .Create(create => create.Action("Add", "RegionesEstados"))
                                .Update(update => update.Action("Update", "RegionesEstados"))
                                .Destroy(delete => delete.Action("Delete", "RegionesEstados"))
                                .PageSize(5)
    )

    .Events(e => e.Save("onSave"))

    // Add tool bar with Create button
    .ToolBar(toolbar => toolbar.Create().Text("Agregar registro"))
    
    // Set grid editable.
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    
    // Set grid sortable.
    .Sortable()
    
    // Set grid selectable.
    .Selectable()
    
    // Set grid groupable.
    .Groupable()
    
    // Set grid filterable.
    .Filterable()
    
    // Set grid pagable.
    .Pageable(pageable =>
                  {
                      pageable.Refresh(true);
                      pageable.PageSizes(true);
                  })
)

<script>
    function onSave(e) {
        var currentRecordID = e.model.ID_RegionesEstados;
        var currentRecordID_R = e.model.ID_Region;
        var currentRecordID_E = e.model.ID_Estado;
        var data = this.dataSource.data();

        for (item in data) {
            if ($.isNumeric(item))
                if (data[item].ID_Region == currentRecordID_R &&
                    data[item].ID_Estado == currentRecordID_E &&
                    data[item].ID_RegionesEstados != currentRecordID) {
                    e.preventDefault();
                    alert("Relación región estado duplicada.");
                }
        }
    }
</script>