@{
    ViewBag.Title = "Alta de Hospitales";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<br />@(Html.Kendo().Grid<MedinetWeb.SP_MWL_GetHospitales_Result>()
        // Grid Name
    .Name("Grid")
    .AutoBind(true)
    // Declare grid column
    .Columns(columns =>
                 {
                     columns.Bound(r => r.ID_Hospital).Title("NÚMERO");
                     columns.Bound(r => r.TX_Hospital).Title("HOSPITAL");
                     columns.Bound(r => r.TX_Estado).Title("ESTADO");
                     columns.Bound(r => r.TX_Ruta).Title("RUTA");
                     columns.Bound(r => r.TX_Institucion).Title("INSTITUCION");
                     
                     columns.Command(c =>
                     {
                         c.Custom("FichrFarmacia").Text("Fichar").Click("goToFichar");
                     });
                 })

    // Declare ajax datasource.
        // CRUD operation are wired back to ASP MVC Controller/Action e.g. HomeController, GetAll
        // Set the model Id
    .DataSource(datasoure => datasoure.Ajax()
                                .Events(events => events.Error("GridError"))
                                .Model(model =>
                                    {
                                        model.Id(record => record.ID_Hospital);
                                    }
                                )
                                .Read(read => read.Action("GetAll", "SearchHospital"))

    )

    //.Events(e => e.DataBound("onDataBound"))

    // Set grid selectable.
    .Selectable()

    // Set grid sortable.
    .Sortable()

    // Set grid groupable.
        //.Groupable()

    // Set grid filterable.
    .Filterable()
        // Set grid pagable.
    .Pageable(pageable =>
                    {
                        pageable.Refresh(true);
                        pageable.PageSizes(true);
                    })
)
<script>

    function goToFichar(e) {
        var tr = $(e.currentTarget).closest("tr");
        var item = $("#Grid").data("kendoGrid").dataItem(tr);

        var id = item.ID_Hospital;
        

        var retVal = confirm("¿Desea fichar el hospital seleccionado?");
        if (retVal == true) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Fichar")',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (resp) {

                    if (resp) {
                        alert("¡Hospital fichado exitosamente!");
                        //window.location.href = "@Url.Action("Index","SearcHospital")";
                        $("#Grid").data("kendoGrid").dataSource.read();
                    } else {
                        alert("¡El hospital no pudo ser fichado correctamente! Contacte con el administrador");
                    }
                    //alert(resp.mensaje);
                },
                error: function (ex) {
                    alert('Falló fichando hospital...');
                }
            });
            return true;
        }


    }

</script>